*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  max-width: 100%;
  display: block;
}

header{
  background-color: rgb(14, 13, 13);
  color: #FFF;
}

nav{
  margin: 0px 40px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_logo{
  height: 40px;
}

.txt_logo{
  color: #00ccff;
  font-size: 1.5rem;
  font-weight: 700;
}

.sub_heading{
  font-size: 1.25rem;
  font-weight: 600;
}